<div class="widget-row widget-span" id="componentDetailHeader">
        <div class="widget-span">
            <h1>Component Detail</h1>
                <span id="componentDetail">
    
                </span>
        </div>
 </div>
 