<script src="<%= url_for_static(:plugin => 'bayesian', :path => 'curated_stacks.js')-%>" type="text/javascript"></script>
<link rel=StyleSheet href="<%= url_for_static(:plugin => 'bayesian', :path => 'style.css')-%>" type="text/css" media=screen>
<script>
get_first_sucesfull_analysis('<%= @project.name -%>');
</script>
<div class="widget-row widget-span" style="display:block">
        <fieldset style="width:100%">
            <legend><h1>Stack similarity</h1></legend>
                <span id="comparisonDetail">
                    <div style="width:30%" class="float_left">
                      <div class="referenced_stack_container" style="padding-top:50px">
                          <table id="referencedStack" class="bordered_stack_table" style="width:80%" align="center">
                            <caption>Your Stack</caption>
                        </table>
                      </div>      
                    </div>    
                    <div style="width:70%" class="float_right">
                     <div class="widget-row widget-span" style="width:100%">   
                      <fieldset>
                        <legend><h3>Found <span id="number_of_reference_stacks">X</span> reference stacks</h3></legend>
                        <a class="bayesian-navigate bayesian-navigate-to-left" onclick="nav_prev_reference_stack()"><i class="icon-chevron-left"></i>Prev</a>
                        <span class="stack_similarity">Similarity: <span id="similarity_score">X</span>%</span>
                        <a class="bayesian-navigate bayesian-navigate-to-right" onclick="nav_next_reference_stack()">Next<i class="icon-chevron-right"></i></a>
                      </fieldset>
                      </div>
                      <div class="stack_reference_container">
                        <div class="widget-row widget-span" style="width:100%">
                          <div class="widget-span" style="width:49%;">
                            <fieldset>
                            <legend><h3 id="referenceStackName" class="truncate">Stack name</h3></legend>
                            <table id="ReferenceStackTable" class="bordered_stack_table" style="width:95%" align="center">
                            <caption></caption>
                            </table>
                            <div>
                              <h2>Why this stack?</h2>
                              <p></p>
                            </div>
                            </fieldset>
                          </div>
                          <div class="widget-span" style="width:49%;">
                            <fieldset>
                            <legend><h3>Recommendations</h3></legend>
                            <table id="RecommandationsTable" class="bordered_stack_table" style="width:50%" align="center">
                            <caption><h3></h3></caption>
                            </table>
                            </fieldset>
                          </div>
                        </div>
                      </div>  
                    </div>
                </span>
        </fieldset>        
 </div>
 